<carousel>
  <slide *ngFor=" let slide of slides" style="background-color:black">
    <img src="{{slide.image}}" alt="first slide" style="display: block; width: 100%;height: auto; margin-left:auto; margin-right:auto; opacity: 0.6;" class="img-source">
    <div class="carousel-caption d-none d-md-block">
      <div class="btn btn-outline-light" (click)="open()">{{'slider.book-button' | translate}}</div>
      <h3>{{slide.title | translate}}</h3>
      <p>{{slide.description | translate}}</p>
    </div>
  </slide>
</carousel>
