<!-- Footer -->
<footer class="page-footer font-small footer">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
    
        <!-- Grid row -->
        <div class="row">
    
          <!-- Grid column -->
          <div class="col-md-8 mt-md-0 mt-3">
    
            <!-- Content -->
            <h5 class="text-uppercase">{{'footer.footer-title' | translate}}</h5>
            <p>{{'footer.footer-description' | translate}}</p>
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none pb-3">
    
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
    
            <!-- Links -->
            <h5 class="text-uppercase">{{'footer.social-network' | translate}}</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="https://www.facebook.com/Pilgrims-Hostel-Hostal-Peregrinos-426193054619839/" target="_blank">Facebook</a>
              </li>
              <li>
                <a href="https://www.instagram.com/hostelpilgrims" target="_blank">Instagram</a>
              </li>
              
            </ul>
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 copyright">© 2019 Copyright:
        <a href="#">Pilgrims</a>
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer -->
  
  