<app-carousel></app-carousel>
<div class="box"></div>
<div class="text">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h3>{{ 'brief.us.title' | translate }}</h3>
      </div>
      <div class="col"></div>
    </div>
    <hr class="hr-white">
    <div class="row container">
      {{ 'brief.us.description' | translate }}
    </div>
  </div>
</div>
<div class="box"></div>
<div class="cards-element">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h3>{{ 'brief.plans.title' | translate }}</h3>
      </div>
      <div class="col">
        <button class="btn btn-success">{{ 'brief.plans.btn' | translate }}</button>
      </div>
    </div>
    <hr>  
  </div>
  <div class="cards-container">
    <app-card></app-card>
  </div>
</div>

<div class="map container">
    <div class="row container">
      <h3>{{ 'brief.location.title' | translate }}</h3>
    </div>
    <hr class="hr-white">
    <div class="row">
      <div class="col map-container">
          <app-map></app-map>
      </div>
      <div class="col">
        <div class="row container">
          <h4>{{ 'brief.location.find' | translate }}</h4>
        </div>
        <hr class="hr-white">
        <div class="row container">
            <p>{{ 'brief.location.description' | translate }}</p>
        </div>
      </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small footer">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns to organize your footer content.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 copyright">© 2019 Copyright:
      <a href="#">Pilgrims</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

