<div class="navigation-info">
  <div class="row">
    <div class="col"></div>
    <div class="col">Numero telefónico: 3053077624</div>
    <div class="col">Correo electrónico: pilgrimshostel@gmail.com</div>
    <div class="col"></div>
  </div>
</div>
<nav class="navbar navbar-dark logo-color container">
  <!-- <a class="navbar-brand" href="#">Pilgrims Hostel</a> -->
  <div class="navbar-brand logo"></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse cont-menu" id="navbarText">
    <ul class="navbar-nav mr-auto headlist">
      <li class="nav-item active">
        <div class="row">
          <div class="col-2">
            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </div>
          <div class="col menu">
            <p>Ir a la pagina principal, con un resumen de todos nuestros servicios y precios tentativos</p>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="row">
          <div class="col-2">
            <a class="nav-link">Gallery</a>
          </div>
          <div class="col menu">
            <p>Ver la pagina con las imagenes del hostal</p>
          </div>
        </div>

      </li>
      <li class="nav-item">
        <div class="row">
          <div class="col-2">
            <a class="nav-link">Contact</a>
          </div>
          <div class="col menu">
            <p>Go to Contact page</p>
          </div>
        </div>
      </li>
      <div class="row">
        <div class="col-7">
          <a class="nav-link">Language</a>
        </div>
        <div class="col-2">
          <select class="browser-default custom-select">
            <option selected>ES</option>
            <option value="2">EN</option>
          </select>
        </div>
      </div>
    </ul>
  </div>
</nav>