<div class="navigation-info">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">{{ 'header.subheader.phone' | translate }}</div>
    <div class="col-5">{{ 'header.subheader.email' | translate }}</div>
    <div class="col-1"></div>
  </div>
</div>
<nav class="navbar navbar-dark logo-color container">
  <!-- <a class="navbar-brand" href="#">Pilgrims Hostel</a> -->
  <div class="navbar-brand logo"></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse cont-menu" id="navbarText">
    <ul class="navbar-nav mr-auto headlist">
      <li class="nav-item active" (click)="goTo('brief')">
        <div class="row">
          <div class="col-2">
            <a class="nav-link">{{ 'header.start.title' | translate }} <span class="sr-only">(current)</span></a>
          </div>
          <div class="col menu">
            <p>{{ 'header.start.description' | translate }}</p>
          </div>
        </div>
      </li>
      <li class="nav-item" (click)="goTo('gallery')">
        <div class="row">
          <div class="col-2">
            <a class="nav-link">{{ 'header.gallery.title' | translate }}</a>
          </div>
          <div class="col menu">
            <p>{{ 'header.gallery.description' | translate }}</p>
          </div>
        </div>

      </li>
      <li class="nav-item" (click)="goTo('contact')">
        <div class="row">
          <div class="col-2">
            <a class="nav-link">{{ 'header.contact.title' | translate }}</a>
          </div>
          <div class="col menu">
            <p>{{ 'header.contact.description' | translate }}</p>
          </div>
        </div>
      </li>
      <div class="row">
        <div class="col-7">
          <a class="nav-link">{{ 'header.language' | translate }}</a>
        </div>
        <div class="col-2">
          <select class="browser-default custom-select" #activelang (change)="changeLang(activelang.value)">
            <option selected value="es">ES</option>
            <option value="en">EN</option>
          </select>
        </div>
      </div>
    </ul>
  </div>
</nav>